<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
{% block base %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock base %}

<title>Home</title>
</head>
<body>

    <!-- -------------------------------------header start------------------------------- -->
    
            <nav class="navbar navbar-expand-md bg-dark navbar-white  p-5">
    
                <a class="navbar-brand" href="#">My Brand</a>
                <!-- <a class="navbar-brand" href="#">
                    <img src="..." class="d-inline-block align-top" width="30" height="30" alt="...">My Brand
                </a> -->
                <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                        </li>
            
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact' %}">Conatct</a>
                        </li>
                            
                        <li class="nav-item dropdown">
                            <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown-item">Categories</a>
                            <div class="dropdown-menu">
                                {% for c in category %}
                                <a href="" class="dropdown-item" style="color:azure ;background: #000;">{{c.name}}</a>
                                {% endfor %}
                            </div>
                        </li>
                        <li class="nav-item ml-3 ">
                            <a class="nav-link" href="{% url 'add_to_cart' %}">
                                <i class="fa fa-shopping-cart"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        {% if user.is_authenticated %}
                        <div class="text-center">
                            {% if data.profil_pic%}
                            
                            <img src="/media/{{data.profil_pic}}" style="margin-top: 10px;; height: 50px; width: 50px; border-radius: 50%;">
                            {% else %}
                            
                            {% endif %}
                        </div>
                        <li class="nav-item mt-3">
                            
                            <a class="nav-link" href="{% url 'logout' %}">LogOut</a>
                        </li>

                        
                        {% else %}
                       
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'registration' %}">Signup</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}" >Login</a>
                        </li>
                        
                {% endif %}
                    </ul>
                </div>
            </nav>
    
<!-- --------------------------------------------------end header--------------------------------- -->

{% block content %}


{% endblock %}


<div class="container_fluid">
<di class="row bg-dark text-light p-5 ">
    <div class="col-md-4" style="border-right:2px solid white">
    <h4>About</h4>
    <small> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos ex ullam praesentium consectetur, illo sed amet id voluptas rem quam at, error odit ipsam cum cupiditate doloremque sint molestias facilis? </small>
    </div>
    <div class="col-md-4 w-100 no-gutters" style="border-right:2px solid white ">
        <ol class="ml-4">
            <li>hii</li>
            <li>hii</li>
            <li>hii</li>
            <li>hii</li>
        </ol >
        </div>
        <div class="col-md-4">
            <ol class="ml-4">
                <li>hii</li>
                <li>hii</li>
                <li>hii</li>
                <li>hii</li>
            </ol>
        </div>

</div>
</div>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>