{% extends 'Eapp/base_dashbord.html' %}

{% load static %}

{% block mydash %}
<div class="container">
    <div class="row">

        
        <div class="col-md-6 text-uppercase mx-auto my-5 p-3 bg-light">
            <h2 class="text-center text-uppercase"> Change Password</h2>
            {% if msg %}
                <p style="color: green;">{{msg}}</p>
            {% endif %}
            {% if error %}
            <p style="color: red;">{{error}}</p>
        {% endif %}
            <form action="" method="POST">
                {% csrf_token %} 
                <div class="form-group">
                    <label>Old PassWord</label>
                    <input type="password" name="old_pass" class="form-control" id="" required>
                   
                </div>
                <div class="form-group">
                    <label>New PassWord</label>
                    <input type="password" name="new_pass" class="form-control" id="npwd" onkeyup="check_pass()" required>
                </div>
                <div class="form-group">
                    <label>Conform new PassWord</label>
                    <input type="password" class="form-control" id="cnpwd" onkeyup="check_pass()">
                </div>            
                <input type="submit" id="btn" class="btn btn-danger" value="Change Password" required>
            </form>
        </div>
    </div>
</div>

<script>
    function check_pass(){
       let n= $("#npwd").val();
        let cn = $("#cnpwd").val();
        if(n==cn){
            $("#npwd").css("border","1px solid green")
            $("#cnpwd").css("border","1px solid green")
            $("#btn").removeAttr("disabled")

        }else{

            $("#npwd").css("border","1px solid red")
            $("#cnpwd").css("border","1px solid red")
            $("#btn").attr("disabled","disabled")


        }
        
    }
</script>
{% endblock %}